.banner {
  background-color: rgb(0, 123, 255);
}

.banner img {
  height: 400px;
  max-width: 100%;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .banner img {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
